@model SongScreenerMvc.Models.Rhythm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Rhythm</legend>

    <div class="display-label">RhythmName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RhythmName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.RhythmID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
