@model SongScreenerMvc.Models.Language

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Language</legend>

    <div class="display-label">LanguageName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LanguageName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.LanguageID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
